[Desktop Entry]
Type=ControlPanelApplet
Name=Callmee
X-logical-id=decl_exampl_1
X-translation-catalog=duisettings
Icon=

# This has to be specified in order that the .desktop file can also be
# used as an action (for example for search to know how to
# open the applet)
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
# this has to be the same as Name
X-Maemo-Fixed-Args=Callmee

[DUI]
X-DUIApplet-Applet=libdeclarative.so

[DCP]
# Category= Applications
Category=Examples
Order=100
Part=callmee.xml
